body{
    font-family: "montserrat", sans-serif;
}
h1{
    color: red;
    font-size: 36px;
}
.degrade{
    background-image: radial-gradient(circle at 74.68% 50%, #ff6100 0, #ff4c00 16.67%, #fa3300 33.33%, #ed0c0c 50%, #df0018 66.67%, #d1001f 83.33%, #c50025 100%);
    color: white;
    font-size: 10px;
} h2{
    color:white;
    font-size: 20px;
}
#proyectos img{
    height: 210px;
}
.principal{
    color: black;
    font-size: 16px;
}
.bloque p{
    height: 90px;
}
p{
    color: black;
    font-size: 14px;
}
input,textarea{
    border-radius: 15px !important; margin-bottom: 15px;
}

#contacto{
    background-image: url("../imagenes/");
    background-size: 100%;
    background-repeat: no-repeat;
}
#proyectos{
    background-image: url("../imagenes/fondo-proyectos.png");
    background-size: 100%;
    background-repeat: no-repeat;
}
.btn{
    background-color: white;
    color: #370a6d;
    border-radius: 20px;
    
}
.btn:hover{
    background-color: #370a6d;
    color: white;
}
.btn1{
    background-color: red;
    color: white;
    border-radius: 20px;
    padding: 7px;
    text-decoration: none;

}
.btn2{
    color: red;
    text-decoration: none;

}
.subtext{
    color: black;
    font-size: 13px;
    font-weight: bold;
}
nav .nav-link{
    color: #282828; 
    
}
nav .active:hover{
    border: #e20000 solid 1px;
    border-radius: 20px;
}
footer, footer a{
    color: white;
    font-weight: 100;
}
footer .fa-github{
    font-size: 30px;
    color:black;
    padding: 5px;
}
footer .fa-linkedin-in{
    background-color:black;
    font-size: 20px;
    border: 0px;
    height: 30px;
    width: 30px;
    text-align: center;
    padding: 8px 0 0 0;
    border-radius: 88px;
    
}
.fa-whatsapp{
    position: fixed;
    bottom: 0px;
    right: 20px;
    color: white;
    background-color: #370a6d;
    padding: 20px 20px 35px 20px;
    font-size: 30px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.cohete{
    width: 200px;
    height: 400px;
}
@media(max-width: 750px) {
    #contacto{
        background-image: url("../imagenes/fondo-proyectos.png");
    }
    footer, footer a{
        color: black;
        font-weight: 100;
        text-align: center;
    }
    .btn{
        background-color: #370a6d;
        color: white;
        border-radius: 20px;
            
     }
     footer .fa-github{
        font-size: 30px;
        color: #e20000;
    }
    footer .fa-linkedin-in{
        color: white;
        background-color: #e20000;
        font-size: 20px;
        border: 0px;
        height: 30px;
        width: 30px;
        text-align: center;
        padding: 9px 0 0 0;
        border-radius: 88px;
    }
    .fa-bars{
        color: #e20000;
        font-size: 25px;
    }
}
#proyectos .cohete{
    height: 400px
}
#proyectos .bienvenidos{
    border: solid 1px;
    border-radius: 15px;

}